@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}
.portfolio {
  width: 60%;
}
